html{
    height: 100%;
}

body{
    height: 100%;
    overflow-y: hidden;
    background: #FFA500;
    background: linear-gradient(135deg, hsla(33, 88%, 45%, 1) 0%, hsla(33, 100%, 53%, 1) 29%, hsla(42, 100%, 60%, 1) 62%, hsla(58, 100%, 68%, 1) 100%);

    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.container{
    margin: 0 auto;
    min-width: 60vw;
    max-width: 70vw;
    min-height: 60vh;
    max-height: 90vh;
    padding: 30px 0;
    background-color: #FFA500;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-y: auto;
}

h1, h2, h3{
    margin: 0;
}

#intro{
    padding: 0 5%;
}

form section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-group label{
    padding-left: 10px;
}

.input-group input[type="text"] {
    height: 30px;
    width: 250px;
    border: 1px solid #edede8;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 2px 0px;
    padding-left: 10px;
    margin: 3px 0 10px;
}

.center{
    text-align: center;
}


button, 
#chargenote-reset {
    height: 40px;
    width: 250px;
    background-color: #FFA500;
    border-color: #edede8;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

button:hover, 
#chargenote-reset:hover {
    height: 40px;
    width: 250px;
    background-color: #ffbf00;
    border-color: #edede8;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.hide {
    display: none;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid White;
}

#completed-chargenote{
    padding: 0 5%;
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    line-height: 2;
}

.inserted-text{
    border-bottom: 3px solid FFA500;
    font-weight: 700;
    background-color: white;
    padding: 0 5px;
    margin: 0 5px;
}


@media only screen and (max-width: 600px) {
    h2{
        font-size: 1em;
        margin-top: 5px;
    }
    .container{
        max-width: 100%;
        max-height: 85vh;
    }

    .input-group {
        margin: 5px;
    }

    #completed-story{
        font-size: .75em;
    }
}

#nameButton {
    opacity: .5;
    position: fixed;
    text-align: center;
    bottom: 10px;
    left: 10px;
    width: 120px; /* Set the desired width for the button */
    height: 60px; /* Set the desired height for the button */
  }

  #nameCard {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background */
    align-items: center;
    justify-content: center;
    display: flex;
  }

  /* Center the inner content using Flexbox */
  #nameCard > div {
    background-color: #FFA500;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text content inside the div */
    margin-bottom: 10px;
  }

  #nameCard button {
    margin: 15px;
  }